# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
